body {
    background-image: url(image/bg.jpg);
}
table.main{
    background-color: #FFFFFF;
    width: 80%;
    margin: 0 auto;
}
h1{
    color: blue;
    text-align: center;
}
ul{
    list-style-type: none;
}
table.center{
    text-align: center;
}
table.f{
    width: 100%;
    background-color: #0a6fa3;
}
table.f tr td:last-child{
    text-align: right;
}