nav{
    background-color: cadetblue;
}
ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul.menu > li > a{
    display: block;
    padding: 1.5rem;
    text-decoration: none;
}
.flex{
    display: flex;
    align-items: center;
}
.between{
    justify-content: space-between;
}
header{
    background: linear-gradient(darkblue, blue);
}
ul.menu > li > a:hover {
    background: lightblue;
    color: red;
    animation-delay: 500ms;
}
.subject{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color:whitesmoke;
    text-shadow: 3px 4px 2px red;
}
.submenu {
    display: none;
    position:absolute;
    background-color: lightblue;
}
.submenu::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent lightblue transparent;
    bottom: 100%;
    position: absolute;
    left: 1.25rem;
}
.sub:hover .submenu{
    display: block;
}
.avatar{
    width: 120px;
    border-radius: 50%;
}
.forums{
    background-color: bisque;
    padding: 0.5rem;
    border-bottom: 1px solid blue;
}
h2.subject{
    background-color: blue;
    margin-bottom: 0;
    padding: 0.5rem;
    border-radius: 10px 10px 0 0;
}
.forums:last-child{
    border-radius:0 0 10px 10px;
}
.container{
    width: 80%;
    margin: 0 auto;
}