.subject{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color:violet;
    text-shadow: 3px 4px 2px red;
}
ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: aquamarine;
    display: flex;
}
ul.menu > li {
    padding: 1rem;
    border-left: 1px solid blue;
    min-width: 10%;
    text-align: center;
}
ul.menu >li:first-child{
    border-left: none;
}
ul.menu >li:last-child{
    margin-left:auto;
}
ul.menu > li > a{
    display: block;
    padding: 1rem;
    text-decoration: none;
}
ul.menu>li a:hover{
    color:aliceblue;
    background-color: blue;
}
.langs{
    background-color: aqua;
    margin: var(--myspacce);
}
.col1{
    width:10;
}
.col2{
    width:90%;
}
.lang img{
    width:100%;
    transition: transform .5s;
}
.lang img:hover{
    transform:rotate(30deg);
}
.flex{
    display:flex;
}
:root{
    --myspacce:0.7rem;
}
.lang div{
    padding: var(--myspacce);
}
.lang{
    border-bottom: 1px solid blue;
}
.lang:last-child{
    border-bottom: none;
}
.submenu{
    display:none;
}
.sub:hover .submenu{
    display:block
}