* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
    background-color: rgb(82, 82, 82);
}
.logo {
    display: flex;
    align-items: center;
}
.logo  i {
    color: black;
    font-size: 28px;
    margin-right: 3px;
}
.logo  span {
    color: blue;
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar {
    display: flex;
}
.navbar a{
    color: blue;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar  li  a:hover {
    color: rgb(250, 50, 50);
}
.navbar  li  a.active {
    color: rgb(250, 50, 50);
}
.main {
    display: flex;
    align-items: center;
}
.main a {
    margin-left: 10px;
    margin-right: 25px;
    color: blue;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}
.user {
    display: flex;
    align-items: center;
}
.user  i {
    font-size: 28px;
    color: blue;
    margin-right: 7px;
}
.main a:hover {
    color: rgb(250, 50, 50);
}
#menuIcon  i {
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar  a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}
@media (max-width: 1090px){
    #menuIcon > i {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar  a{
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .50s ease;
    }
    .navbar  a:hover {
        color:blue;
        transform: translateY(5px);
    }
    .navbar  a.active {
        color:blue;
    }
    .navbar.open {
        right: 0%;
    }
}